html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
    color: #fff;
}

.bg {
    background-image: url(../img/ramen.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#topnav {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}

#topnav>a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    color: #fff;
}

#topnav .home {
    grid-column-start: 2;
}

#topnav .menu {
    grid-column-start: 3;
}

#topnav .logo {
    grid-column-start: 4;
    width: 280px;
}

#topnav .drinks {
    grid-column-start: 5;
}

#topnav .contact {
    grid-column-start: 6;
}

#topnav .icon {
    display: none;
}

#responsive {
    display: none;
}

.img-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    #topnav .home, .menu, .drinks, .contact { display: none; }
    
    #topnav a.icon {
        display: inline;
        grid-column-start: 1;
        grid-row-start: 1;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    #responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .img-menu {
        width: 75%;
    }
}